
:root{
--blanco: #ffffff;
--negro: #212121;
--verde: #2f4f30;


}

html,body{

    background-color: var(--verde);
    color: var(--blanco);
}
.titulo{

    text-align: center;
    background-color: var(--negro);
    color: var(--blanco);
    padding: 2rem;
    font-size: 2.5rem;;
}
.carta{
    position: relative;
    width: 15rem;
    left: 10rem;
     margin-left: -7.5rem; /*se pone una carta arriba de otra(se ve un poquito de cada carta) */

}

#jugador-cartas, #computadora-cartas{

height: 24rem; /*Para que por más de que no haya cartas quede el espacio para la carta*/



}